body {
    background-color: rgb(26, 32, 52);
}

div.Passage {
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    border: 0.5rem solid black;
    margin: 15px;
    padding: 1rem;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 2rem;
    border-radius: 4rem;
    text-align: center;
    width: 60%;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    
}

#Skills {
    color: rgb(0, 0, 0);
    background-color: antiquewhite;
    border: 0.5rem solid gray;
    margin: 15px;
    padding: 1rem;
    font: bold 1rem sans-serif;
    margin: 2rem;
    padding: 1rem;
    border-radius: 4rem;
    text-align: center;
    width: 60%;
    position: relative; 
    left: 50%;
    transform: translateX(-50%);
    background-image: url("https://www.gstatic.com/webp/gallery/1.jpg") 30 fill / 30px / 30px space;
}

#Examples{
    overflow: auto;
    max-height: 10%;
    flex-wrap: nowrap;
}